### Importación de datos

En esta parte se realiza la importación de los datos utilizando la biblioteca PANDAS

In [82]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

Se calcula el total de los ingresos generados en cada tienda, utilizando la función .sum[] aplicado a la columna Precio de cada base de datos

In [83]:
tienda1_totalventas = tienda['Precio'].sum()
tienda2_totalventas = tienda2['Precio'].sum()
tienda3_totalventas = tienda3['Precio'].sum()
tienda4_totalventas = tienda4['Precio'].sum()

In [84]:
print(f"La tienda 1 ha vendido: {tienda1_totalventas}")

La tienda 1 ha vendido: 1150880400.0

# 2. Ventas por categoría

Se calcula la cantidad de ventas por categoría de producto para cada tienda. Para hacer esto, primero se genera un nuevo DF para cada tienda, con los datos agrupados utilizando la función .groupby[]

Posteriormente, se calcula el total de los valores únicos utilizando la función .value_counts() y se ordenan con la función .sort_values()

In [85]:
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [86]:
tienda['Categoría del Producto'].unique()

array(['Electrónicos', 'Muebles', 'Juguetes', 'Electrodomésticos',
       'Artículos para el hogar', 'Deportes y diversión', 'Libros',
       'Instrumentos musicales'], dtype=object)

In [87]:
df_tienda1_ventas_por_categoria = tienda.groupby('Categoría del Producto')
df_tienda1_ventas_por_categoria['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [88]:
df_tienda2_ventas_por_categoria = tienda2.groupby('Categoría del Producto')
df_tienda2_ventas_por_categoria['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

In [89]:
df_tienda3_ventas_por_categoria = tienda.groupby('Categoría del Producto')
df_tienda3_ventas_por_categoria['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [90]:
df_tienda4_ventas_por_categoria = tienda.groupby('Categoría del Producto')
df_tienda4_ventas_por_categoria['Categoría del Producto'].value_counts().sort_values(ascending=False)

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

# 3. Calificación promedio de la tienda

Se calcula la calificación promedio que los clientes le dieron a cada tienda utilizando la funcion .mean()

In [91]:
promedio1 = tienda['Calificación'].mean()
promedio2 = tienda2['Calificación'].mean()
promedio3 = tienda3['Calificación'].mean()
promedio4 = tienda4['Calificación'].mean()

In [92]:
medias = [promedio1, promedio2, promedio3, promedio4]
medias

[np.float64(3.976685036032217),
 np.float64(4.037303942348453),
 np.float64(4.048325561678677),
 np.float64(3.9957591178965224)]

# 4. Productos más y menos vendidos

Se debe indicar que productos fueron los más y los menos vendidos en cada tienda, para ello, se ordenan los datos de cada tienda por producto más vendido de mayor a menor.

Luego para comparar, se hace un nuevo df donde se concatenan los head y los tail de cada Serie, respetando el orden que ya habíamos creado

In [93]:
df_tienda1_popularidad_productos = tienda.groupby('Producto')['Producto'].value_counts().sort_values(ascending=False)
df_tienda2_popularidad_productos = tienda2.groupby('Producto')['Producto'].value_counts().sort_values(ascending=False)
df_tienda3_popularidad_productos = tienda3.groupby('Producto')['Producto'].value_counts().sort_values(ascending=False)
df_tienda4_popularidad_productos = tienda4.groupby('Producto')['Producto'].value_counts().sort_values(ascending=False)

In [94]:
comparativa_mas_populares = pd.concat([df_tienda1_popularidad_productos.head(3).reset_index(), df_tienda2_popularidad_productos.head(3).reset_index(), df_tienda3_popularidad_productos.head(3).reset_index(), df_tienda4_popularidad_productos.head(3).reset_index()], axis=1)

# Renombrar las columnas para mayor claridad
comparativa_mas_populares.columns = ['Producto Tienda 1', 'Cantidad', 'Producto Tienda 2', 'Cantidad', 'Producto Tienda 3', 'Cantidad', 'Producto Tienda 4', 'Cantidad']

display(comparativa_mas_populares)

,Producto Tienda 1,Cantidad,Producto Tienda 2,Cantidad,Producto Tienda 3,Cantidad,Producto Tienda 4,Cantidad
0,Armario,60,Iniciando en programación,65,Kit de bancas,57,Cama box,62
1,TV LED UHD 4K,60,Microondas,62,Mesa de comedor,56,Cubertería,59
2,Microondas,60,Batería,61,Cama king,56,Cama king,56

In [95]:
comparativa_menos_populares = pd.concat([df_tienda1_popularidad_productos.tail(3).reset_index(), df_tienda2_popularidad_productos.tail(3).reset_index(), df_tienda3_popularidad_productos.tail(3).reset_index(), df_tienda4_popularidad_productos.tail(3).reset_index()], axis=1)

# Renombrar las columnas para mayor claridad
comparativa_menos_populares.columns = ['Producto Tienda 1', 'Cantidad', 'Producto Tienda 2', 'Cantidad', 'Producto Tienda 3', 'Cantidad', 'Producto Tienda 4', 'Cantidad']

display(comparativa_menos_populares)

,Producto Tienda 1,Cantidad,Producto Tienda 2,Cantidad,Producto Tienda 3,Cantidad,Producto Tienda 4,Cantidad
0,Olla de presión,35,Impresora,34,Microondas,36,Guitarra acústica,37
1,Celular ABXY,33,Mesa de comedor,34,Set de vasos,36,Armario,34
2,Auriculares con micrófono,33,Juego de mesa,32,Bloques de construcción,35,Guitarra eléctrica,33

# 5. Envío promedio por tienda

Se calcula el costo de envio promedio por cada tienda, utilizando la funcion .mean()

In [96]:
promedioenvio1 = tienda['Costo de envío'].mean()
promedioenvio2 = tienda2['Costo de envío'].mean()
promedioenvio3 = tienda3['Costo de envío'].mean()
promedioenvio4 = tienda4['Costo de envío'].mean()

In [97]:
envios = [promedioenvio1, promedioenvio2, promedioenvio3, promedioenvio4]
envios

[np.float64(26018.60958033065),
 np.float64(25216.235693090293),
 np.float64(24805.680373039424),
 np.float64(23459.457167090754)]